/* @font-face {
  font-family: LCD;
  src: local('LCD'), url('/lcdbold.woff') format('woff');
} */

/* semantic color variables for this project */
:root {
  --color-background: #1F2833;
  --color-primary: #66fcf1;
  --color-secondary: #45A29E;
  --color-accent: #5ad439;

}
body {
  height: 100vh;
  width: 100vw;
  background: var(--color-background);
  margin: 0 0 0 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

*, *::after, *::before {
  box-sizing: border-box;
}
