@import './base.css';


main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.lcd-big {
    font-family: LCD;
    color: var(--color-primary);
    font-size: 7rem;
}

.lcd-small {
    font-family: LCD;
    color: var(--color-primary);
    font-size: 3rem;    
}

.lcd-table {
    font-family: LCD;
    color: var(--color-secondary);
    font-size: 2rem;    
}

tr:first-of-type > .lcd-table {
    color: var(--color-accent);
}

p {
    margin: 0;
    padding: 0;
}

.knob {
    aspect-ratio: 1;
    width: 80%;
    height: 80%;
    /* max-height: 90vh; */
    margin-top: 50px;
    touch-action: none;    

    background-color: dimgrey;
    border-radius: 50%;
    border: 5px dotted aquamarine;
    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: grab;
}

.knob.grabbed{
    cursor: grabbing;
}

#knobText{
    text-align: center;
    user-select: none;
}

table {
    border-collapse: separate;
    /* border-spacing: 20px 0; */
    width: 90%;
}

td {
padding: 4px 0;
}

td:last-child {
    text-align: right;
}


@media (orientation: landscape) {
    main {
      flex-direction: row;
    }

    .knob {
        height: 90vh;
        width: 90vh;
        margin-top: 5vh;
        margin-left: 5vh;

    }

    .calculation-section {
        flex: 1 0 0;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }